/* Common theme css */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Basic elements */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f3f3f3;
  color: #333;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #f8f9fa;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li:first-child {
  margin-left: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

/* Page contents */
.gg-page {
  margin: 1em;
}

blockquote {
  background: #ececec;
  border-left: 10px solid #333;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

/* Page editing */
.gg-edit-buttons {
  text-align: center;
  width: 100%
  margin-top: 20px;
}

.gg-edit-button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #5294e2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.gg-edit-button:hover {
  background-color: #0056b3;
}

.gg-edit-button:active {
  transform: translateY(1px);
}

/* Page History*/
.gg-page-history {
  margin: 1em;
  background-color: #ddd;
}

.gg-page-edit {
  display: flex;
  padding: 10px;
  margin-top 0.5em;
  margin-bottom: 0.5em;
  border: 5px solid #333;
}

/* Page Source */
.gg-page-source {
  width: 100%;
  min-height: 100%
  padding: 0.1em;
  resize: none;
}

/* Login Form */
.gg-login {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.gg-login h1 {
  margin-bottom: 20px;
  text-align: center;
}

.gg-form-group {
  margin-bottom: 20px;
}

.gg-form-group label {
  display: block;
  margin-bottom: 5px;
}

.gg-form-group input[type="text"]
.gg-form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #5294e2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.gg-form-group button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #5294e2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
}

.gg-form-group button:hover {
  background-color: #0056b3;
}

.gg-form-group button:active {
  transform: translateY(1px);
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer a {
  color: #ececec;
}

footer c {
  color: #ccc;
}
