<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{block "gg-title" .}}{{end}}</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="/skins/{{.Theme}}/index.js"></script>
    <link href="/skins/{{.Theme}}/style.css" rel="stylesheet">
  </head>
  <body hx-target="this" hx-replace-url="true">
    <div class="gg-nav">
      <nav id="left-nav">
        <ul>
          <li><a hx-get="/wiki/main_page">Home</a></li>
          <li><a hx-get="/wiki/project:about">About</a></li>
          <li><a hx-get="/wiki/project:help">Help</a></li>
          <li><a hx-get="/wiki/project:contact">Contact</a></li>
          {{if .LoggedIn}}
            <li><strong>{{.Username}}</strong></li>
            <li><a hx-get="/Logout">Logout</a></li>
          {{else}}
            <li><a hx-get="/Login">Login</a></li>
          {{end}}
          <li><a onclick="toggleView()">Toggle View</a></li>
        </ul>
      </nav>
      <nav id="right-nav">
        <ul>
          <input id="searchIn" type="search" name="search" placeholder="Search Wiki" oninput="onPageSearch()">
          <ul id="searchOut">
            
          </ul>
        </ul>
      </nav>
    </div>

    {{block "gg-main" .}}{{end}}

    <footer>
      <p>Content licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-Sharealike 4.0 License</a>.</p>
    </footer>

  </body>
</html>
