{{ define "gg-title"}}
History for {{.Title}} - PolarPages
{{ end }}

{{ define "gg-main" }}
  <main>
    {{template "gg-page-nav" .}}
    
    <div class="gg-page">
      <div class="gg-page-history">
        {{ range .History }}
          <div class="gg-page-edit">
            <a hx-get="/d/viewrev/{{.EditId}}" class="gg-edit-date">{{.Time}}, {{.Date}}&emsp;</a>
            <a hx-get="/wiki/user:{{.Editor}}" class="gg-edit-editor">{{.Editor}}&emsp;</a>
            <p class="gg-edit-summary">({{.Description}})</p>
          </div>
        {{ end }}
      </div>
    </div>
  </main>
{{ end }}
